
/*xs - mobile
sm - tablet
md - leptop
lg - desctop
*/
*{
    box-sizing:border-box;
}
body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}
.container{
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right:auto;
}
.row{
    display:flex;
    margin-left: -15px;
    margin-right:-15px;
    align-items: center;
}
.flex-wrap{
    flex-wrap:wrap
}
.header{
    background-color: #1d2126;
    display: flex;
    z-index:2
}
.sticky{
    position: sticky;
    top: 0;
}

[class*="col-"]{
    padding-left:15px;
    padding-right:15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.menu{
    padding: 0px;
    list-style: none;
    display: flex;
}


.menu a{
    color: #a4aead;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    padding: 10px;


}

.menu a:hover{
    border:1px solid #a4aead;
    border-radius: 5px;
    padding: 9px;

}

.menu a:active{
    border:1px solid #39a492;
    border-radius: 5px;
    color: #39a492;
    padding: 9px;
}
.menu li{
    padding: 10px;
}

.search{
    align-content: center;
    justify-content: flex-end;
    position: relative;
    display: flex;
}
.search input{
    width:190px;
    height: 30px;
    background-color:transparent;
    border: 1px solid #a4aead;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    
}
.search input::placeholder{
    color: #a4a4a4;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    
    
}
.search button{
    width:20px;
    height:20px;
    background:url("img/search.png") no-repeat center;
    border:none;
    right: 15px;
    top: 5px;
    bottom: 0;
    position: absolute;
}

.main{
    width:100%;
    background:url("img/font-img.png") no-repeat center;
}
.slider{
    display:flex;
    position: relative;
    overflow: hidden;
    height: 660px;
    width: 100%;
    justify-content: center; 
}
.slider-slide1{
    position: absolute;
}

.col-md-7{
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    max-width: 1200px;
}
.slider-info{
    width: 50%;
}
.col-md-7 p {
    color:#ccd0d7;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    display: inline-block;


   

}
.main-item{
    color:#fff;
    font-size: 36px;
    font-family: "Quattrocento Sans";
    font-weight:bold;
    text-transform: uppercase;

}

.view-more, .video-tour {
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    font-family: "Quattrocento Sans";
    font-weight:bold;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    width: 125px;
    padding: 15px;
    margin: 5px;;

}

.view-more:hover, .video-tour:hover{
    background-color:#23b7a4;
    border:none;
}
.cover {
    object-fit: cover;
  }


@media(min-width:768px){
    .container{
        max-width:720px;
    }
    .logo{
        margin-top:10px;
    } 
}

@media(min-width:992px){
    .container{
        max-width:960px;
    }
    .col-md-2{
        flex: 0 0 16.6667%;
    max-width: 16.6667%;
    }
    .col-md-8{
        flex: 0 0 66.6667%;
    max-width: 66.6667%;
    }
    .menu{
        justify-content: center;
    }
    .search input{
        width: 150px;
    }
    
}

@media(min-width:1200px){
    .container{
        max-width:1140px;
    }
}

/*mobile only*/
@media(max-width:767px){
    .search{
        position: absolute;
        top: 10px;
        right: 10px;
       }
    .search input{
        width: 120px;
       }
     .logo{
        margin-top:10px;
       }
    .menu{
        overflow-x: scroll;
        }
    .slider-info{
        width: 100%;
        }   
}

/*tablet only*/
@media(max-width:991px){
    .search{
        position: absolute;
        top: 10px;
        right: 40px;
       }
}
/*laptop*/
@media(max-width:1199px){
    
}