
/*xs - mobile
sm - tablet
md - leptop
lg - desctop
*/
*{
    box-sizing:border-box;
}
body{
    margin:0;
    font-family: "Open Sans", sans-serif;
}
.container{
    width:100%;
    padding-left:15px;
    padding-right:15px;
    margin-left: auto;
    margin-right:auto;
}
.row{
    display:flex;
    margin-left: -15px;
    margin-right:-15px;
   
}
.flex-wrap{
    flex-wrap:wrap
}
.header{
    background-color: #1d2126;
    display: flex;
    z-index:2
}
.sticky{
    position: sticky;
    top: 0;
}

[class*="col-"]{
    padding-left:15px;
    padding-right:15px;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.header-menu{
    align-items: center;
    justify-content: space-between;
}
.menu{
    padding: 0px;
    list-style: none;
    display: flex;
}


.menu a{
    color: #a4aead;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    padding: 10px;


}

.menu a:hover{
    border:1px solid #a4aead;
    border-radius: 5px;
    padding: 9px;

}

.menu a:active{
    border:1px solid #39a492;
    border-radius: 5px;
    color: #39a492;
    padding: 9px;
}
.menu li{
    padding: 10px;
}

.search{
    align-content: center;
    position: relative;
    display: flex;
}
.search input{
    width:190px;
    height: 30px;
    background-color:transparent;
    border: 1px solid #a4aead;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    
}
.search input::placeholder{
    color: #a4a4a4;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    position: relative;
    
    
}
.search button{
    width:20px;
    height:20px;
    background:url("img/search.png") no-repeat center;
    border:none;
    right: 15px;
    top: 5px;
    bottom: 0;
    position: absolute;
}

.block-1{
    width:100%;
    background:url("img/font-img.png") no-repeat center;
   
}
.block-2{
    width: 100%;
    padding: 60px 0px;
}
.slider{
    display:flex;
    position: relative;
    overflow: hidden;
    height: 660px;
    width: 100%;
    margin-bottom: 0px;
    
}
.slider-block.slick-dotted.slick-slider{
    margin-bottom:0px;
}
.slider-info{
    margin-left: 20px;
}
ul.slick-dots {
    bottom: 30px;
    text-align:right;
}
ul.slick-dots li.slick-active button:before{
    color:#fff;
}
ul.slick-dots li button:before{
    font-size:14px;
}

button.slick-next.slick-arrow::before{
    display:none;
}
button.slick-prev.slick-arrow::before{
    display:none;
}
button.slick-next.slick-arrow {
    right: -10px;
}

.slider-slide1{
    position: absolute;
}

.col-md-7{
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    max-width: 1200px;
}


.description {
    color:#ccd0d7;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    display: inline-block;

}
.bold{
    font-weight:bold;
    color:#8d8f92
}
.main-item{
    color:#fff;
    font-size: 36px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold;
    text-transform: uppercase;

}

.view-more, .video-tour {
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold;
    border: 1px solid #fff;
    border-radius: 5px;
    background: transparent;
    padding: 15px;
    margin: 5px;

}

.view-more:hover, .video-tour:hover{
    background-color:#23b7a4;
    border:none;
}
.cover {
    object-fit: cover;
  }
.block-title{
    display:flex;
}
h2{
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold; 
    font-size: 36px;
    text-transform: uppercase;
    color:#292f36;
}
h3{
    text-transform: uppercase;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold; 
    font-size: 18px;
    color: #292f36
    
}
h3 a{
    text-decoration: none;
    color:#292f36;
}

.icon-h1{
    width: 10px;
    background-color: #ccd0d7;
    margin: 30px 15px 30px 0px;
    
}
.number-miniblock{
    background-color:#23b7a4;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold; 
    font-size: 20px;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-right: 15px;
    margin-top: 20px;
    width: 50px;
    height: 50px;
}

.mini-block{
    display: flex;;
}
.icon img{
    background-color: #c8cdd0;
    margin:1px;
    width: 50px;
    height: 50px;
}
.icons-block{
        display: flex;
        margin: 80px 0px;


    }

.members-of-team{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.member-photo{
    display: flex;
    position: relative;
    position: relative;
    flex-direction: column;
    justify-content: center;
}


.member-info{
    background-color: #e1e6ea;
    padding: 20px;
    
}
.member-name{
    
    font-size: 16px;
    color: #292f36;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.member-info p{
    color:#8d8f92;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    display: contents;
}

.block-team{
    display:flex;
    padding-left: 0px;
    padding-right: 0px; 
}
.box-socmedia{
    background-color:#3a454d;
    width: 50px;
    height: 50px;
    margin:1px;
    display:flex;
}
.member-socmedia{
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    display:none;
}
.block-3{
    width:100%;
    padding: 60px 0px;
}

.block-4{
    width:100%;
    background-color:#3a454d;
    padding: 60px 0px;
    }

.block-title-black{
    display: flex;
}



.members-of-team:hover .photo{
    opacity: .75;
}

.members-of-team:hover .member-info{
    background-color: #1d2126;
}
.members-of-team:hover .member-info p  {
color:#fff;
}
.members-of-team:hover .member-name {
    color:#fff;
    }
.members-of-team:hover .member-socmedia{
    display: flex;
}
.white{
    color:#fff;
}
.icon-h2{
    width: 10px;
    background-color: #4e5a62;
    margin: 30px 15px 30px 0px;
}
section{
    border-bottom: 1px solid #dde1e4;
   
}
.photo{
    width: 100%;
}



.galery{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}


.box-plus{
    position: absolute;
    z-index: 1;
    display: flex;
    align-self: center;
    top: 60px;
    display:none;
    
}

.photo-name{
    z-index: 1;
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #292f36;
    color: #fff;
    padding: 15px;
    display:none;
    font-size: 18px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.galery:hover .box-plus{
    display: flex;
}
.galery:hover .photo-name{
    display: flex;
}
.galery:hover .photo {
    opacity: .75;
}

.details{
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    color: #fff;
    border: 2px solid #fff;
    padding: 15px 20px;
    margin: 50px 0px 20px 0px;
    cursor: pointer;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    
}
.button-center{
    display: flex;
    justify-content: center;
}
.details{
    display: flex;
}

.we-do{
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
    justify-content: center;   
}

.activiti-png{
    text-align: center;
}
.activiti-png img{
    width:25%;
    margin:25px;
}

.activity-name{
    color:#292f36;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
   
}

.details-activity{
    color:#8d8f92;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 1.5em;
}
   
.details:hover{
    background-color:rgba(255, 255, 255, 0.207);
    color: #fff;
    border-color: transparent;
}
.future-photo-name{
    color: #fff;
    font-size: 18px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.future-description{
    color: #dcdfe1;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
    line-height: 1.5em;
}
.map{
    margin: 50px 0px;
}
.contact{
    color: #292f36;
    font-size: 20px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

footer{
    background-color: #3a454d
    }
.fotter-desc{
    color: #fff;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: left;
}
.footer-cont{
    display: flex;
    justify-content: space-between;
}

.icons-block-footer{
    display: flex;
}


.form-field-info{
    display: flex;
    justify-content: space-between;
}


.form-fields{
    margin:10px;
}
.form-fields:first-child{
    margin-left:0px;
}
.form-fields:last-child{
    margin-right:0px;
}

.block-form-fields{
    display: flex;
    justify-content: space-between;
}
.form-fields input, .field textarea{
        width:100%;
        height:40px;
        padding:10px;
        background-color: #eaeef1;
        border-radius: 5px;
        border:0px;
        margin:10px 5px;
    }
.field textarea{
    height:160px;
}


.btn-close{
    text-align:right;
}

.hide{
    display:none;
}
.show{
    display:block;
}
.view-more-form{
    background-color:#23b7a4;
    border:none;
    text-transform: uppercase;
    color:#fff;
    font-size: 16px;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight:bold;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 15px;
    margin: 5px;;
}
.details-black{
    background-color: transparent;
    font-size: 14px;
    text-align: center;
    color: #1d2126;
    border: 2px solid #1d2126;
    padding: 15px 20px;
    margin: 30px 30px 10px 30px;
    cursor: pointer;
    font-family: "Quattrocento Sans", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    width:160px;
    
}


.details-black:hover{
    background-color: rgb(96 125 139 / 30%);
    color: #1d2126;
    border-color: transparent;
}
.opn-btn-flex{
    display: flex;
    align-items: flex-end;
}


.open-form{
   display:none;
    position: fixed;
    bottom: 130px;
    z-index: 9;
     
}


form{
max-width:550px;
background-color:#fff;
padding:30px;
font-size: 14px;
font-family: "Quattrocento Sans", sans-serif;
color:#8d8f92;
font-weight: bold;
text-transform: uppercase;
text-align: left;
}
.cancel{
background-color:red;
width:160px;
}




@media(min-width:768px){
    .container{
        max-width:720px;
    }
    .logo{
        margin-top:10px;
    } 
    .col-sm-6{
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(min-width:992px){
    .container{
        max-width:960px;
    }
    .col-md-2{
        flex: 0 0 16.6667%;
    max-width: 16.6667%;
    }
    .col-md-8{
        flex: 0 0 66.6667%;
    max-width: 66.6667%;
    }

    .col-md-7{
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    
    .col-md-5{
        flex:0 0 41.66%;
        max-width: 41.66%; 
    }
    .col-md-6{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-12{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .discription-block{
        display:flex;
    }
    .col-md-3{ 
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4{
        flex: 0 0 33.3%;
        max-width: 33.3%;

    }
    
} 


@media(min-width:1200px){
    .container{
        max-width:1140px;
    }
}

/*mobile only*/
@media(max-width:767px){
    .search{
        position: absolute;
        top: 10px;
        right: 10px;
       }
    .search input{
        width: 120px;
        height: 25px;
       }
       .search button{
           top:3px;
       }
     .logo{
        margin-top:10px;
       }
    .menu{
        overflow-x: scroll;
        }
    .slider-info{
        width: 100%;
        margin-left: 0px;
        }   

    .members-of-team{
        place-items: center;
    }

    .nav-mobile-menu{
        width:15px;
        height:15px;
        position: relative;
    }
    .nav-mobile-menu span{
        height:1px;
        background-color: #fff;
        position:absolute;
        left:0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1){
        top:3px;
       
    }
    .nav-mobile-menu span:nth-child(2){
        top:7px;
        
    }
    .nav-mobile-menu span:nth-child(3){
       bottom:3px;
    }

    
    .hiden-menu{
        opacity:0;
        visibility: hidden;
    }
    .navigation{
        position:fixed;
        top:0;
        right:0;
        width:280px;
        max-width:280px;
        transition:all 500ms ease-in-out;
        transform:translateX(150%);

    }
    .navigation.active-menu{
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        top: inherit;
        background-color: #1d2126;
        display: block;
        width: 200px;
    }
    
    

}

.nav-mobile-menu.active-menu span:nth-child(1){
    top:50%;
    transform:rotate(45deg);
}
.nav-mobile-menu.active-menu span:nth-child(2){
    top:50%;
    transform:rotate(-45deg);
}

.nav-mobile-menu.active-menu span:nth-child(3){
    transform:scale(0);
}


/*tablet only*/
@media(max-width:991px){
    .search{
        position: absolute;
        top: 10px;
        right: 40px;
       }
       
    .menu{
        justify-content: space-between;
    }
   
    
}
/*laptop*/
@media(max-width:1199px){
    
}

